/* Offer styling */
.offer {
  padding-bottom: 40px;
}

.offer-image {
  width: auto;
  height: 200px;
  max-width: 100%;
}

.promo_price {
  font-size: 36px;
  font-weight: 800px;
}

.promo__overline{
  margin: 0px;
}
/* Offer styling End */
