// fake OMS page styles

#oms {

  .oms-section {
    h3 {
      background-color: map-get( $tc, 'teal' );
      color: $white;
    }

    button {
      &[aria-expanded="false"] {
        .fa-chevron-down {
          display: inline-block;
        }
        .fa-chevron-up {
          display: none;
        }
      }
      &[aria-expanded="true"] {
        .fa-chevron-down {
          display: none;
        }
        .fa-chevron-up {
          display: inline-block;
        }
      }
    }

  }

  .tierX {
    .promo {
      min-height: 325px;
      // height: auto;

      &--banner {

        .promo__inner {
          border: none;
        }
      }

      &__img--wrap {
        img {
          max-height: 150px;
        }
      }

      &__text--wrap {
        // left: 0;
        // max-height: none;
        // position: relative;
        // top: 0;
        // transform: translate(0,0);
      }

      &__price--wrap {
        // position: relative;
      }

      // &__btn--wrap {
      //   text-align: right;
      //   position: relative;
      //   .btn-plus {
      //     position: relative;
      //     top: 0;
      //     left: 0;
      //   }
      // }
    }
  }

}

// Edit Offer page!
#oms__edit-offer {
  // hide regular submit buttons
  .acf-form-submit {
    display: none;
  }
}
